<div class="container"  >
<div >
<img src="/assets/Smart-Loan-768x512.jpg" alt="user dashboard" style="display: block; width: 80%; height:393px; margin:15px auto">
</div>
<div class="text-dark bg-light shadow-lg" style="width: 80%; margin: 15px auto;" >
    <h2 class="text-center">Welcome to Loan Processing System!!!!!!</h2>
    <br>
    <p class="lead text-center" >
        This is an a online Loan Processing System which helps to you monitor and control the transactons of
        your loan
        
        Through this a customer can view the list of loans, apply the for loan, etc...
    </p>
    </div>
</div>